body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    width: 300px;
    padding: 16px;
    padding-top: 0px;
    background-color: white;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid black;
    border-radius: 4px;
}

input[type=radio],
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(248, 93, 36);
    color: white;
    padding: 14px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 35%;
}


button:hover {
    opacity: 0.8;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: orangered;
}